.App {
  text-align: center;
}

.navbar span{  
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  margin-left: 5%;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  background-color:orange;
  color: whitesmoke,  
}
.navbar{
  margin-left: 75%;
  
}
